/*  This styles the crystal html page.

    Written by Alex Chalyy on 2/16/2019.    */

/*  This styles things inside the card. */

#c1  {
    color:  aqua;
    text-align: center;
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

/*  This styles the crystal links. */

#amethyst,
#citrine,
#quartz,
#shungite  {
    float: center;
    width: 15%;
}

/*  Media query for small screens, reduces the size of the card.    */

@media only screen and (max-height: 414px) {

    #c1,
    .card-title {
        font-size: 10%;
    }
}